.button {
  background: $red;
  border: none;
  color: white;
  display: inline-block;
  line-height: 1;
  padding: $s-size;
  font-weight: 300;
  font-size: $font-size-large;
  text-decoration: none;
}

.button--login {
  margin: .4rem;
  width: 200px;
}

.button--github {
  background: grey;
}

.button--summary {
  background: $teal;
}

.button--delete {
  background: $grey;
}

.button--link {
  background: none;
}
